* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2a3035;
  font-family: "Roboto", sans-serif;
  color: white;
}
#q4Wrapper h1,
#q4Wrapper h2,
#q4Wrapper h3 {
  margin: 0;
}
#q4Wrapper h1 {
  font-size: 48px;
}
#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper header,
#q4Wrapper footer {
  background-color: #22272b;
}
#q4Wrapper header {
  padding: 20px;
}
#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper article {
  text-align: center;
}
#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper a:hover {
  transform: scale(1.05);
}
#q4Wrapper a span {
  opacity: 0.5;
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
/* updated html to be more semantic - styling ul*/
ul {
  padding: 0;
  list-style: none;
}

/* creating 3 column layout */
.reports {
  display: flex;
  flex-flow: row wrap;
}

/* set width of the list items in container  */
.reports_item {
  width: calc(33.33% - (30px * 2 / 3));
  margin-right: 30px;
  padding-bottom: 30px;
}

/* remove margin to every third list item in 3 column grid */
.reports_item:nth-child(3n + 3) {
  margin-right: 0;
}

/* Shrink img container and center */
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.imgContainer {
  width: 80%;
}

img,
a {
  width: 100%;
  height: 100%;
}

/* apply article styling */
.reports_docs:last-child {
  background-color: #22272b;
  width: 100%;
  padding: 0.5rem;
}

/* remove column - responsive design layout for list of reports */
@media (max-width: 768px) {
  .reports_item {
    width: calc(50% - (30px * 1 / 2));
  }
  /* remove margin from every third item to every second for 2 column layout */
  .reports_item:nth-child(3n + 3) {
    margin-right: 30px;
  }
  .reports_item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

/* remove column - responsive design layout for list of reports */
@media (max-width: 480px) {
  .reports_item {
    width: 100%;
  }

  /* remove all margins */
  .reports_item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .reports_item {
    margin-right: 0;
  }
}
